# ==========================================
# DATABASE CONFIGURATIE (PostgreSQL)
# ==========================================
PGUSER=data_user
PGPASSWORD=super_geheim_wachtwoord
# Laat PGHOST hier op localhost staan voor als je het script ooit lokaal (buiten docker) draait.
# In de docker-compose.yml overschrijven we dit automatisch naar 'db'.
PGHOST=localhost
PGPORT=5432
PGDATABASE=energie_vlaanderen_db

# ==========================================
# PGADMIN CONFIGURATIE (http://localhost:5050)
# ==========================================
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# ==========================================
# API CONFIGURATIE & FILTERS
# ==========================================
ELIA_API_BASE=https://opendata.elia.be/api/explore/v2.1/catalog/datasets
FILTER_START=2026-02-01
FILTER_END=2026-02-10